<mat-card>
    <form [formGroup]="projectForm" (ngSubmit)="save()">
        <mat-form-field appearance="legacy" >
            <mat-label>Nome</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Descrição</mat-label>
            <input formControlName="description" matInput>
        </mat-form-field>    
        <button mat-button type="submit">Salvar</button>                           
    </form>    
</mat-card>
