.container {
    margin: 1%;
}

.field-space {
    margin: 1%;
}

.space-column-left {
    margin-left: 1%;
}

.job-table {
    width: 100% !important;
}

.justification-mx {
    width: 45px;
    overflow: scroll;
}