<div class="container">
    <mat-card>
        <mat-card-title>Cadastrar Vagas</mat-card-title>
        <mat-card-subtitle>Informe os dados da vaga</mat-card-subtitle>
        <mat-card-content>
            <form>
                <mat-form-field class="field-space">
                  <mat-label>Tipo da Vaga</mat-label>
                  <input matInput placeholder="" value="front-end" >
                </mat-form-field>
                <mat-form-field class="field-space">
                    <mat-label>EverJob</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>
                  <mat-form-field class="field-space">
                    <mat-label>Gerente</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>
                  <mat-form-field class="field-space">
                    <mat-label>Ltf</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field> 
                  <mat-form-field class="field-space">
                    <mat-label>Comunidade</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>
                  <mat-form-field class="field-space">
                    <mat-label>Tipo de Alocação</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>   
                  <mat-form-field class="field-space">
                    <mat-label>Tecnologia</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>    
                  <mat-form-field class="field-space">
                    <mat-label>Tempo de Experiencia</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>  
                  <mat-form-field class="field-space">
                    <mat-label>Salário Máximo</mat-label>
                    <input matInput placeholder="Ex. Pizza" >
                  </mat-form-field>   
                  <mat-form-field class="field-space">
                    <mat-label>Prioridade</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>  
                  <mat-form-field class="field-space">
                    <mat-label>Data da Priorização</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>  
                  <mat-form-field class="field-space">
                    <mat-label>Status da Vaga</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>                         
                <mat-form-field>
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
                <mat-card-actions fxLayout="row" fxLayoutAlign="end">
                    <button mat-raised-button color="primary">Salvar</button>
                </mat-card-actions>
              </form>            
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>
