<div class="login-Container">
    <mat-card class="login-card">       
        <div style="display: flex;">
          <img mat-card-image src="../../assets/logo.png" style="width: 100%; height: auto; margin: auto;" alt="Logo">
        </div>      
        <mat-card-content style="margin-top: 10px;">
          <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="legacy">
              <input formControlName="username" type="email" matInput placeholder="Seu usuário">                                         
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <input formControlName="password" type="password" matInput placeholder="Senha">                
            </mat-form-field>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
              <button mat-button type="submit" class="job-button" style="color: #ffff;">ENTRAR</button>              
            </mat-card-actions>
          </form>           
        </mat-card-content>     
      </mat-card>
</div>



